@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.root {
    animation: fadein 2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 350px;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.rooth2 {
    font-size: 35px;
    text-align: center;
    font-family: "Cambria";
    word-spacing: 5px;
}

#google-login {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%);
}
